CODIGO-FONTE/server/log/development.log
2020-08-28 - aula02 - desenvolvimento hello world/hello-world/server/log/development.log
2020-08-28 - aula02 - desenvolvimento hello world/hello-world/server/.byebug_history
2020-08-28 - aula02 - desenvolvimento hello world/hello-world/server/tmp/restart.txt
