<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Apresente esse código de ticket: <%= @ticket.code %></h2>
  </body>
</html>